*.pyc
*DS_Store
*egg-info
*__pycache__*
__pycache__
.idea
*.idea/*
.ipynb_checkpoints
*/.ipynb_checkpoints
*.xml
build/
dist/
*.pickle
.mypy_cache
.isort.cfg
venv/
.coverage
htmlcov
key_words_extraction
detect_similar_posts/faiss_index
assets/
*.html
*.p
tests/*.txt
